<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>

    <!-- 반응형 bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- 로고 연결 -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/JHSUSTAIN_LOGO.png" />
    <link rel="shortcut icon" type="image/png" href="/images/JHSUSTAIN_LOGO.png" sizes="192x192"/>

    <!-- CSS 연결 -->
    <link rel='stylesheet' href='/stylesheets/navigation.css' />
</head>
<body>

<!-- HEADER -->

<!-- NAVIGATION BAR -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <!-- 로고 -->
        <a class="navbar-brand" href="/"><img src="/images/JHSUSTAIN_FULL_LOGO.png" class="nav_logo"></a>

        <!-- 햄버거 버튼 -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">

                <!-- Our Team -->
                <li class="nav-item">
                    <a class="nav-link" href="/Our-Team" style="padding-right: 38px;">Our Team</a>
                </li>

                <!-- Our Work -->
                <!-- TODO: 프로젝트 추가 시 드롭다운 메뉴도 늘어나야 함 -->
                <li class="dropdown">
                    <a href="#" class="nav-item nav-link dropdown-toggle" data-toggle="dropdown" style="padding-right: 38px;">Our Work <span class="glyphicon glyphicocn-menu-down"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/Our-Services">Our Services</a></li>
                        <li><a class="dropdown-item" href="/Past-Ongoing-Projects">Past & Ongoing Projects</a></li>
                    </ul>
                </li>

                <!-- In the News -->
                <li class="nav-item">
                    <a class="nav-link" href="In-the-News" style="padding-right: 38px;">In the News</a>
                </li>

                <!-- Work with Us -->
                <li class="nav-item">
                    <a class="nav-link" href="Work-with-Us">Work with Us</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
</body>
</html>
