/* TODO: 네비게이션바 색 바꾸기, 고정시키기 */
body {
  padding: 50px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ffffff;
}

/*.carousel-item {*/
/*  height: 100vh;*/
/*  min-height: 300px;*/
/*  background: no-repeat center center scroll;*/
/*  -webkit-background-size: cover;*/
/*  -moz-background-size: cover;*/
/*  -o-background-size: cover;*/
/*  background-size: cover;*/
/*}*/
/*.carousel-caption {*/
/*  bottom: 270px;*/
/*}*/

/*.carousel-caption h5 {*/
/*  font-size: 45px;*/
/*  text-transform: uppercase;*/
/*  letter-spacing: 2px;*/
/*  margin-top: 25px;*/
/*}*/

/*.carousel-caption p {*/
/*  width: 75%;*/
/*  margin: auto;*/
/*  font-size: 18px;*/
/*  line-height: 1.9;*/
/*}*/

.navbar-light .navbar-brand {
  color: #000000;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #000000;
}

.navbar-light .navbar-nav .nav-link {
  color: #000000;
}

.navbar-toggler {
  background: #000000;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  font-size: 16px;
  font-weight: bold;
  padding: .2rem 1rem;
}

.nav-link.active,.nav-link:focus{
  color: #000000;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #000000;
}